.page {
    height: 100vh;
}

.titleBar {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    height: 5rem;
    background-color: purple;
    color: yellow;
}

.home {
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    font-size: medium;
    vertical-align: middle;
    cursor: pointer;
}