.resultContainer {
  height: 100%;
  background-color: var(--background);
  color: var(--text);
}

.result {
  font-size: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

.resultText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

.review {
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--primary);
  border: 1px solid var(--back-forest);
  box-shadow: 2px 2px 2px var(--back-forest);
  cursor: pointer;
  color: var(--cornsilk);
  border-radius: 0.5rem;
}

.review:active {
  box-shadow: none;
}
